@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-image:url(../img/105-1056183_matrix-code-png-matrix-png.png),linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
.box{
    width:30%;
    height: 80%;
    background:#fff;
    display: flex;
    flex-direction: column;
    margin: 6rem auto;
    justify-content: space-around;
    text-align: center; 
    border-radius:5% ; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
h1{
    font-size: 4rem;
    letter-spacing: 5px;
}
form{
    display: flex;
    justify-content: center;
}
form label{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

#selected-minute,
#selected-second{
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
}

#start,
#end{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 50%;
    padding: 0.5rem;
    border: none;
    background: #fa5656;
    border-radius: 10px;
    color: #fff; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
    transition: .5s ease all;
}
#start:hover{
    background: #fd0505;
}
#end{
    background: #61cf06;
}
#end:hover{
    background: #063802;
}